[submodule "MartinezMediaDemos/Presentations/FromCallbackHellToTheJavaScriptPromiseLand"]
	path = MartinezMediaDemos/Presentations/FromCallbackHellToTheJavaScriptPromiseLand
	url = https://github.com/brandonmartinez/PresentationFromCallbackHellToTheJavaScriptPromiseLand.git